<div class="card m-auto indexCard">
    <div class="card-header">
        Welcome to Audit Tracker, {{name}}.
    </div>
    <div class="card-body text-center">
        <h3>What would you like to access?</h3>
        <a href="/audit/create" class="btn btn-bg btn-primary">New Audit</a>
        <a href="/audits" class="btn btn-bg btn-primary">Existing Audit</a>
    </div>
</div>